body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: row;
}

#menu {
    width: 200px;
    height: 100%;
    overflow: auto;
}

.content {
    flex-grow: 1;
    height: 100%;
    padding: 20px;
}

#content-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.header img {
    display: inline;
    margin: 0 auto;
}

.header {
    text-align: center;
}
